/* #my-canvas {
  width: 500px;
} */

/* @keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
} */

:root {
  --uiWidth: 400px;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: var(--uiWidth) auto; */
  height: 100vh;
  overflow: hidden;
  background-color: #d1d1d1FF;
  opacity: 1;
}

h1 {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.fade-in {
  animation: fade-in 1s ease-in;
  opacity: 1;
}

canvas { 
  margin: auto;
  width: 600px;
  display: block;
  flex-shrink: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(192, 188, 188);
}


/* ========== TWEAKPANE =========== */

.tweakpane-panel {
  margin: 10px;
  /* margin-top: 15px; */
}

#ui-container {
  position: absolute;
  display: flex;
  /* grid-template-rows: auto 100px; */
  overflow-y: auto;
  padding: 3px;
  /* background: #d1d1d1; */
  align-items: center;
}


#tweakpane-container {
  overflow-y: auto;
}
